# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
*.egg-info/

# Variables de entorno
.env
*.env
!*.env.example

# Node
node_modules/
dist/
build/
.cache/

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
